@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--color-background-primary);
}

a {
  text-decoration: none;
  color: var(--apple-blue);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-background-secondary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    padding: 0 2rem;
  }
}
